body
{ 
  text-align:cemter;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1
{
	font-size;
}
ul
{
	float: left;
	list-style: none;
}
h2 a 
{
	display: block;
	width: 100px;
	font-size: 1.5em;
	text-align: center;
	float: left;
	text-decoration: none;
	color: white;
	background-color: gray;
	padding: 5px 10px;
	margin: 0px 0px 4px 0px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px silver;
}
li a:hover
{
	background: silver;
	box-shadow: 0px 0px 0px;
}
